*
    margin 0
    padding 0
html, body
    font-size 10px
    width 100%
    height 100%
.page
    width 100%
    padding-top 3rem
    background url(./images/icons/bgc.jpg)
    .container
        width 100%
        .top
            margin-bottom 1.4rem
            padding-left 1rem
            box-sizing border-box
            .top-title
                position relative
                margin-left 2rem
                margin-right 1.8rem
                margin-bottom 1.8rem
                .top-title-liebiao
                    background url(./images/icons/liebiao.png) no-repeat
                    background-size cover
                    margin-right 6.5rem
                    width 1.7rem
                    height 1.7rem
                    float left
                .top-title-detail
                    display inline-block
                    // overflow hidden
                    margin-right 3rem
                    li
                        display inline-block
                        position relative
                        top -.5rem
                        margin-right 4rem
                        font-size 2rem
                        color white
                .top-title-add
                    background url(./images/icons/add.png)
                    width 1.7rem
                    height 1.7rem
                    background-size cover
                    position absolute
                    top 0rem
                    right .1rem
            .top-search
                width 100%
                // margin 0 1.5rem 1.4rem
                position relative
                // overflow hidden
                // left 1rem 
                box-sizing border-box
                .ipt input 
                    display inline-block
                    width 38.5rem
                    height 3.2rem
                    border-radius 4rem
                    background-color #011717      
                .btn input 
                    display block
                    position absolute
                    width 1.5rem
                    height 1.5rem
                    left 10.5rem
                    top 1rem
                    background-color: transparent
                    font-size 0px
                    border none
                    cursor pointer
        .msg
            width 100%
            padding  1.3rem 2.5rem 1.3rem 1.8rem 
            box-sizing border-box
          
            .msg-detail
                position relative
                .msg-pic
                    background url(./images/icons/touxiang.jpg)
                    width 5.5rem
                    height 5.5rem
                    border-radius 50%
                    display inline-block
                    background-size cover
                .msg-personal
                    display inline-block
                    margin-left 1.4rem
                    position absolute
                    top 1.4rem
                    .msg-vip
                        display inline-block
                        .msg-vip-name
                            font-size 1rem
                            color #ffffff
                            width 8.9rem
                            height 1.5rem
                            margin-right 0.7rem
                        .msg-vip-start
                            border-radius 20px
                            background-color #cfe677
                            width 4.8rem
                            height 1.6rem
                            display inline-block
                    .msg-listen
                        
                        .msg-listen-level
                            background-color #d8cd86
                            width 2.7rem
                            height 1.3rem
                            border-radius 2px
                            display inline-block
                            margin-right 1rem
                        .msg-listen-time
                            display inline-block
                            width 8.3rem
                            height 1.4rem
                            background-color #ffffff
                            opacity .5
                            margin-right 1rem
                        .msg-listen-id
                            width 4.8rem
                            height 1.5rem
                            border-radius 10px
                            display inline-block
                            background-color #00dad9
                            .id
                                color #ffffff
                .msg-message
                        width 2.5rem
                        height 2rem
                        position absolute
                        right 0rem
                        top 1.8rem
                        opacity .7
                      
                        background url(./images/icons/xiaoxi.png)
                        background-size cover
                        display inline-block

            .msg-icons
                width 100%
                
                padding-left 2.1rem
                margin-top 1.5rem
                // margin-left 2.2rem
                box-sizing border-box
                .local-music
                    display inline-block
                    
                    .local-music-img
                        background url(./images/icons/bendiyinle.png) 
                        width 2.3rem
                        height 2.3rem
                        background-size cover
                        margin-right 7.2rem
                    .local-music-dec
                        margin-top 1.3rem
                        font-size 1rem
                        letter-spacing 1px
                        color #ffffff   
                    .local-music-num
                        margin-top .9rem
                        font-size 1rem
                        color #ffffff 
                        margin-left 0.5rem
                      
                .my-collect
                    display inline-block
                    .my-collect-img
                        background url(./images/icons/shoucang.png)
                        background-size cover
                        width 3rem
                        height 2.7rem
                        margin-right 7.2rem
                    .my-collect-dec
                        margin-top 1.3rem
                        letter-spacing 1px
                        font-size 1rem
                        color #ffffff  
                    .my-collect-num
                        margin-top .9rem
                        font-size 1rem
                        color #ffffff 
                        margin-left 1rem
                .dowload
                    display inline-block
                    .download-img
                        background url(./images/icons/xiazai.png)
                        background-size cover
                        width 2.7rem
                        height 2.7rem
                        margin-right 7.2rem
                    .download-dec
                        margin-top 1.3rem
                        letter-spacing 1px
                        font-size 1rem
                        color #ffffff  
                    .download-num
                        margin-top .9rem
                        font-size 1rem
                        margin-left 1rem
                        color #ffffff 
                .arround-play
                    display inline-block
                    .arround-play-img
                        background url(./images/icons/zuijinbofang.png)
                        background-size cover
                        width 2.9rem
                        height 2.9rem
                    .arround-play-dec
                        margin-top 1.3rem
                        font-size 1rem
                        letter-spacing 1px
                        color #ffffff 
                        position relative
                        right .6rem
                    .arround-play-num
                        margin-top .9rem
                        font-size 1rem
                        color #ffffff 
                        text-align center
                        position relative
                        right 0.6rem
                        
                       


                           
                            


                




                
              


