ul,li{
    list-style: none;
}
.main_content{
    width: 100%;
    height: 96%;
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.main_content .top{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_content .top p{
    width: 98%;
    height: 29%;
    background: linear-gradient(top, rgb(211,215,218), rgb(255,255,255), rgb(211,215,218));
    background: -ms-linear-gradient(top, rgb(211,215,218), rgb(255,255,255), rgb(211,215,218));
    background: -webkit-linear-gradient(top, rgb(211,215,218), rgb(255,255,255), rgb(211,215,218));
    background: -moz-linear-gradient(top, rgb(211,215,218), rgb(255,255,255), rgb(211,215,218));
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
.main_content .top .top_first span span{
    color: rgb(246,94,19);
}

.main_content .bottom{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
}
.main_content .bottom .bottom_list{
    width: 18%;
    height: 100%;
    margin-top: 0.5em;

}
.main_content .bottom .bottom_list ul{
    width: 100%;
    height: 91%;
}
.main_content .bottom .bottom_list li{
    width: 100%;
    height:1.7em;
    border: 0.5px solid white;
    background-color: rgb(242,242,242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content .bottom .bottom_list .bottom_title{
    font-weight: bold;
    font-size: 2em;
    border-radius: 0.5em 0.5em 0 0;
    border-left: 0.5px solid rgb(253,179,212);
    border-top: 0.5px solid rgb(253,179,212);
    border-right:0.5px solid rgb(253,179,212) ;
}
.main_content .bottom .bottom_list .bottom_list_content {
    font-size: 1.5em;
}
.main_content .bottom .bottom_list .bottom_title{
    background: linear-gradient(top, rgb(255,99,172), rgb(255,164,207), rgb(255,99,172));
    background: -ms-linear-gradient(top, rgb(255,99,172), rgb(255,164,207), rgb(255,99,172));
    background: -webkit-linear-gradient(top, rgb(255,99,172), rgb(255,164,207), rgb(255,99,172));
    background: -moz-linear-gradient(top, rgb(255,99,172), rgb(255,164,207), rgb(255,99,172));
    color: black;
}
.main_content .bottom .pass_list .bottom_title{
    background: linear-gradient(top, rgb(255,28,134), rgb(255,124,186), rgb(255,28,134));
    background: -ms-linear-gradient(top, rgb(255,28,134), rgb(255,124,186), rgb(255,28,134));
    background: -webkit-linear-gradient(top, rgb(255,28,134), rgb(255,124,186), rgb(255,28,134));
    background: -moz-linear-gradient(top, rgb(255,28,134), rgb(255,124,186), rgb(255,28,134));
}
.main_content .bottom .pass_list .pass{
    color: rgb(246,94,19)!important;
}