*{
    margin: 0;
    padding: 0;
}
body {
    font: normal 100% Helvetica, Arial, sans-serif;
}
.wrap{
    /* background-color: #000; */
    background:linear-gradient(-90deg,rgba(237,103,159,1),rgba(255,160,204,1),rgba(237,103,159,1));
    width: 1600px;
    height: 900px;
    position: relative;
}
#main{
    width: 100%;
    /* height: 500px; */
    position: absolute;
    top: 128px;
    bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(-90deg,rgba(237,103,159,1),rgba(255,160,204,1),rgba(237,103,159,1)); */
}
.header{
    width: 100%;
    height: 128px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background:linear-gradient(-90deg,rgba(237,103,159,1),rgba(255,160,204,1),rgba(237,103,159,1));
}
.header_content .host_title{
    position: absolute;
    top: 0;
    left: 26%;
}
.header_content .host_title img{
    height: 72px;
    max-width: 100%;
}
.header_content{
    width: 100%;
    /* height: 60%; */
    height:72px;
    background: linear-gradient(top, rgb(237,120,174), rgb(255,159,203), rgb(237,120,174));
    background: -ms-linear-gradient(top, rgb(237,120,174), rgb(255,159,203), rgb(237,120,174));
    background: -webkit-linear-gradient(top, rgb(237,120,174), rgb(255,159,203), rgb(237,120,174));
    background: -moz-linear-gradient(top, rgb(237,120,174), rgb(255,159,203), rgb(237,120,174));
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.header .left .left_content img{
    /* width: 130%; */
    width: 108px;
}
.header .left{
    width: 512px;
    min-width: 528px;
    height: 100%;
    background:linear-gradient(0deg,rgba(210,214,217,1),rgba(255,255,255,1),rgba(210,214,217,1));
    border-radius:0 48px 48px 0;
    position: relative;
    /* margin-left: -3%; */
}
.header .left .left_content{
    margin-left: 5%;
    position: absolute;
    top: -17%;
}
.header .right{
    width: 208px;
    min-width: 192px;
    height: 100%;
    background:linear-gradient(0deg,rgba(210,214,217,1),rgba(255,255,255,1),rgba(210,214,217,1));
    border-radius: 48px 0 0 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .right .right_content{
    margin-right: 5%;
}
.right .date{
    font-size: 16px;
}
.right .hour{
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
}
.header .title{
    font-size: 54px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.footer{
    width: 100%;
    height:72px;
    background:linear-gradient(0deg,rgba(210,214,217,1),rgba(255,255,255,1),rgba(210,214,217,1));
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.attention{
    font-weight: bold;
    font-size: 36px;
    color: rgb(246,94,19);
}